<footer>

    <button id="scrollButton" title="Volver arriba">
        <i class="fa-solid fa-stairs"></i>
    </button>

    <div class="container">
        <div class="footer-nav">
            <a href="/src/index.html">
                <img src="/src/assets/images/planet-express-logo.svg" alt="Logo de Planet Express" />
            </a>
            <nav>
                <ul>
                    <li><a class="nav-link" href="/src/category.html">Categoría</a></li>
                    <li><a class="nav-link" href="/src/presentation.html">Presentación</a></li>
                    <li><a class="nav-link" href="/src/links.html">Enlaces</a></li>
                </ul>
            </nav>
            <a href="/src/index.html" class="hide-small">
                <img src="/src/assets/images/planet-express-logo.svg" alt="Logo de Planet Express" class="logo-mobile" />
            </a>
        </div>
        
        <div class="footer-info">
            <p>Derechos reservados © <span id="currentYear"></span> - Sergio S.</p>
            <a href="https://github.com/sergiss/boilerplate-pec1" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>

</footer>