<header>
    <div class="container">
        <div class="logo">
            <a href="/src/index.html"><img class="logo" src="/src/assets/images/futurama-logo.png" alt="Logo de Futurama" /></a>
        </div>
        <nav>
            <ul>
                <li><a class="nav-link" href="/src/category.html">Categoría</a></li>
                <li><a class="nav-link" href="/src/presentation.html">Presentación</a></li>
                <li><a class="nav-link" href="/src/links.html">Enlaces</a></li>
            </ul>
        </nav>
    </div>
    <img src="/src/assets/images/rocket.png" alt="Cohete de Planet Express" class="rocket">
</header>