.carousel {
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
}
.carousel-container {
    position: relative;
}

#prevButton, #nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 2;
    font-size: 2rem;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}