.detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.character-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.character-info img {
    height: 200px;
}

.detail .card {
    padding: 20px;
    align-items: start;
}

.character-info .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail .card h2 {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .character-info {
        flex-direction: column;
    }
}