@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #3d3d58;
    --primary-light: #4d4d69;
    --background: #1f1f2e;
    --orange: #f87330;
    --red: #ff0015;
    --yellow: #f8d030;
    --white: #ffffff;
    --text-color: #e6e6e6;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

main {
    flex: 1;
}

main .container {
    padding: 10px;
}

.links {
   padding: 10px 20px !important;
}

.gifs {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

.gifs img {
    flex: 1;
    height: auto;
    object-fit: cover;
}
